USE [QLTV_Mixture]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bo_Au]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bo_Au](
	[ID_Book] [nvarchar](50) NOT NULL,
	[ID_Author] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bo_Au] PRIMARY KEY CLUSTERED 
(
	[ID_Book] ASC,
	[ID_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bo_Cate]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bo_Cate](
	[ID_Book] [nvarchar](50) NOT NULL,
	[ID_Category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bo_Cate] PRIMARY KEY CLUSTERED 
(
	[ID_Book] ASC,
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IDLibrian] [nvarchar](50) NOT NULL,
	[ID_Pub] [nvarchar](50) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Call_Card]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Call_Card](
	[ID] [nvarchar](50) NOT NULL,
	[ID_Library] [nvarchar](50) NULL,
	[ID_Student] [nvarchar](50) NULL,
	[Borrowing_Periods] [datetime] NULL,
	[Return_Date] [datetime] NULL,
	[Renewals] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Call_Card] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCard_Detail]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCard_Detail](
	[ID_Book] [nvarchar](50) NOT NULL,
	[ID_CCard] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CCard_Detail] PRIMARY KEY CLUSTERED 
(
	[ID_Book] ASC,
	[ID_CCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Librian]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Librian](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[BirthDay] [date] NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Librian] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalty_card]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty_card](
	[ID] [nvarchar](50) NOT NULL,
	[ID_Library] [nvarchar](50) NULL,
	[ID_Student] [nvarchar](50) NULL,
	[Overdue_fines] [money] NULL,
	[Status] [int] NULL,
	[NumOfDay_Overdue] [int] NULL,
 CONSTRAINT [PK_Penalty_card] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishing]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishing](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Publishing] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/25/2022 2:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Class] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Author] ([ID], [Name]) VALUES (N'AU001', N'Nguyễn Nhật Ánh')
INSERT [dbo].[Author] ([ID], [Name]) VALUES (N'AU002', N'Dan Brown')
INSERT [dbo].[Author] ([ID], [Name]) VALUES (N'AU003', N'Reki Kawahara')
GO
INSERT [dbo].[Bo_Au] ([ID_Book], [ID_Author]) VALUES (N'BO001', N'AU001')
INSERT [dbo].[Bo_Au] ([ID_Book], [ID_Author]) VALUES (N'BO002', N'AU002')
INSERT [dbo].[Bo_Au] ([ID_Book], [ID_Author]) VALUES (N'BO003', N'AU002')
GO
INSERT [dbo].[Bo_Cate] ([ID_Book], [ID_Category]) VALUES (N'BO001', N'CA001')
INSERT [dbo].[Bo_Cate] ([ID_Book], [ID_Category]) VALUES (N'BO001', N'CA002')
INSERT [dbo].[Bo_Cate] ([ID_Book], [ID_Category]) VALUES (N'BO001', N'CA003')
GO
INSERT [dbo].[Book] ([ID], [Name], [Amount], [Status], [IDLibrian], [ID_Pub]) VALUES (N'BO001', N'Kính Vạn Hoa - Trọn bộ', 2, 1, N'LB001', NULL)
INSERT [dbo].[Book] ([ID], [Name], [Amount], [Status], [IDLibrian], [ID_Pub]) VALUES (N'BO002', N'Thiên thần và ác quỷ', 2, 1, N'LB001', NULL)
INSERT [dbo].[Book] ([ID], [Name], [Amount], [Status], [IDLibrian], [ID_Pub]) VALUES (N'BO003', N'Pháo đài số 00', 1, 1, N'LB001', NULL)
GO
INSERT [dbo].[Call_Card] ([ID], [ID_Library], [ID_Student], [Borrowing_Periods], [Return_Date], [Renewals], [Status]) VALUES (N'CC001', N'LB001', N'ST001', CAST(N'2022-03-05T00:00:00.000' AS DateTime), CAST(N'2022-03-12T00:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[Call_Card] ([ID], [ID_Library], [ID_Student], [Borrowing_Periods], [Return_Date], [Renewals], [Status]) VALUES (N'CC002', N'LB001', N'ST005', CAST(N'2022-03-05T00:00:00.000' AS DateTime), CAST(N'2022-03-12T00:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[Call_Card] ([ID], [ID_Library], [ID_Student], [Borrowing_Periods], [Return_Date], [Renewals], [Status]) VALUES (N'CC003', N'LB003', N'ST018', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'2022-03-19T00:00:00.000' AS DateTime), 0, 0)
GO
INSERT [dbo].[Category] ([ID], [Category]) VALUES (N'CA001', N'Học trò')
INSERT [dbo].[Category] ([ID], [Category]) VALUES (N'CA002', N'Thiếu Nhi')
INSERT [dbo].[Category] ([ID], [Category]) VALUES (N'CA003', N'Sách văn học')
GO
INSERT [dbo].[CCard_Detail] ([ID_Book], [ID_CCard]) VALUES (N'BO002', N'CC001')
INSERT [dbo].[CCard_Detail] ([ID_Book], [ID_CCard]) VALUES (N'BO003', N'CC004')
INSERT [dbo].[CCard_Detail] ([ID_Book], [ID_CCard]) VALUES (N'BO005', N'CC001')
GO
INSERT [dbo].[Librian] ([ID], [Name], [BirthDay], [Phone], [Mail]) VALUES (N'LB001', N'Mạc Đỉnh Thy', CAST(N'2002-01-01' AS Date), N'0366865945', N'macdinhthy@gmail.com')
INSERT [dbo].[Librian] ([ID], [Name], [BirthDay], [Phone], [Mail]) VALUES (N'LB002', N'Chống Chí Dinh', CAST(N'2002-01-02' AS Date), N'0936818058', N'ddinhcchi540@gmail.com')
INSERT [dbo].[Librian] ([ID], [Name], [BirthDay], [Phone], [Mail]) VALUES (N'LB003', N'Nguyễn Hồ Xuân Hương', CAST(N'2002-07-27' AS Date), N'0399245450', N'xuanhuong2002.hp@gmail.com')
GO
INSERT [dbo].[Penalty_card] ([ID], [ID_Library], [ID_Student], [Overdue_fines], [Status], [NumOfDay_Overdue]) VALUES (N'PC001', N'LB002', N'ST013', 7.0000, 1, 7)
INSERT [dbo].[Penalty_card] ([ID], [ID_Library], [ID_Student], [Overdue_fines], [Status], [NumOfDay_Overdue]) VALUES (N'PC002', N'LB001', N'ST016', 11.0000, 1, 11)
INSERT [dbo].[Penalty_card] ([ID], [ID_Library], [ID_Student], [Overdue_fines], [Status], [NumOfDay_Overdue]) VALUES (N'PC003', N'LB003', N'ST014', 1.0000, 1, 1)
GO
INSERT [dbo].[Publishing] ([ID], [Name], [Address]) VALUES (N'NXB001', N'Văn học', N'20 Đ. Nam Kỳ Khởi Nghĩa, Phường 8, Quận 3, Thành phố Hồ Chí Minh')
INSERT [dbo].[Publishing] ([ID], [Name], [Address]) VALUES (N'NXB002', N'Lao động', N'175 P. Giảng Võ, Chợ Dừa, Đống Đa, Hà Nội')
INSERT [dbo].[Publishing] ([ID], [Name], [Address]) VALUES (N'NXB003', N'Hồng Đức', N'Số 65, phố Tràng Thi, Phường Hàng Bông, Quận Hoàn Kiếm, Hà Nội')
GO
INSERT [dbo].[Student] ([ID], [Name], [Class]) VALUES (N'ST001', N'Nguyễn Ngọc Bảo An', N'SP_Sinh')
INSERT [dbo].[Student] ([ID], [Name], [Class]) VALUES (N'ST002', N'Nguyễn Thị Thùy Linh', N'CNTT')
INSERT [dbo].[Student] ([ID], [Name], [Class]) VALUES (N'ST003', N'Bùi Quốc Bảo', N'SP_Su')
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Amount]  DEFAULT ((1)) FOR [Amount]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bo_Au]  WITH CHECK ADD  CONSTRAINT [FK_Bo_Au_Author] FOREIGN KEY([ID_Author])
REFERENCES [dbo].[Author] ([ID])
GO
ALTER TABLE [dbo].[Bo_Au] CHECK CONSTRAINT [FK_Bo_Au_Author]
GO
ALTER TABLE [dbo].[Bo_Au]  WITH CHECK ADD  CONSTRAINT [FK_Bo_Au_Book] FOREIGN KEY([ID_Book])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[Bo_Au] CHECK CONSTRAINT [FK_Bo_Au_Book]
GO
ALTER TABLE [dbo].[Bo_Cate]  WITH CHECK ADD  CONSTRAINT [FK_Bo_Cate_Book] FOREIGN KEY([ID_Book])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[Bo_Cate] CHECK CONSTRAINT [FK_Bo_Cate_Book]
GO
ALTER TABLE [dbo].[Bo_Cate]  WITH CHECK ADD  CONSTRAINT [FK_Bo_Cate_Category] FOREIGN KEY([ID_Category])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Bo_Cate] CHECK CONSTRAINT [FK_Bo_Cate_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Librian] FOREIGN KEY([IDLibrian])
REFERENCES [dbo].[Librian] ([ID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Librian]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Pub] FOREIGN KEY([ID_Pub])
REFERENCES [dbo].[Publishing] ([ID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Pub]
GO
ALTER TABLE [dbo].[CCard_Detail]  WITH CHECK ADD  CONSTRAINT [FK_CCard_Detail_Book] FOREIGN KEY([ID_Book])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[CCard_Detail] CHECK CONSTRAINT [FK_CCard_Detail_Book]
GO
ALTER TABLE [dbo].[CCard_Detail]  WITH CHECK ADD  CONSTRAINT [FK_CCard_Detail_Call_Card] FOREIGN KEY([ID_CCard])
REFERENCES [dbo].[Call_Card] ([ID])
GO
ALTER TABLE [dbo].[CCard_Detail] CHECK CONSTRAINT [FK_CCard_Detail_Call_Card]
GO
ALTER TABLE [dbo].[Penalty_card]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_card_Librian] FOREIGN KEY([ID_Library])
REFERENCES [dbo].[Librian] ([ID])
GO
ALTER TABLE [dbo].[Penalty_card] CHECK CONSTRAINT [FK_Penalty_card_Librian]
GO
ALTER TABLE [dbo].[Penalty_card]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_card_Student] FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[Penalty_card] CHECK CONSTRAINT [FK_Penalty_card_Student]
GO
